[submodule "MiniSpace.APIGateway.Nuar/src/Nuar"]
	path = MiniSpace.APIGateway.Nuar/src/Nuar
	url = https://github.com/itsharppro/Nuar.git
[submodule "Paralax"]
	path = Paralax
	url = https://github.com/itsharppro/Paralax.git
