@using Radzen
@inherits LayoutComponentBase
@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager

<RadzenLayout style="margin: -8.0px; width: 105%; text-align: center;"> 
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween"
                     Style="width: 98.5%;">
           <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                @if (IdentityService.IsAuthenticated)
                {
                    <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
                }
                <RadzenLabel Text="MiniSpace"/>
            </RadzenStack>
            <RadzenMenu>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5em">
                    @if (IdentityService.IsAuthenticated)
                    {
                        <RadzenMenuItem Text="Sign Out" Click=@SignOut Icon="exit_to_app"/>
                    }
                    else
                    {
                        <RadzenMenuItem Text="Sign In" Path="signin" Icon="exit_to_app"/>
                        <RadzenMenuItem Text="Sign Up" Path="signup" Icon="assignment_ind"/>
                    }
                </RadzenStack>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    
     @if (IdentityService.IsAuthenticated)
    {
        <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Home" Icon="home"
                                     Click="@(() => NavigationManager.NavigateTo(""))" />
                <RadzenPanelMenuItem Text="Account" Icon="account_box"
                                     Click="@(() => NavigationManager.NavigateTo("account"))" />
            </RadzenPanelMenu>
        </RadzenSidebar>
    }
    
    <RadzenBody style="margin: -12.0px;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code{

    bool _sidebarExpanded = true;
    
    void SignOut()
    {
        // Implement your sign-out logic here, e.g., redirect to sign-out path, clear authentication state
        IdentityService.Logout();
        NavigationManager.NavigateTo("");
    }
    
}
