@* @inject HttpClient Http *@
@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MiniSpace.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        @if (IdentityService.IsAuthenticated)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="account">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Your Account
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <button class="nav-link btn btn-link" @onclick="SignOut">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Sign Out
                </button>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="signin">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="signup">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Sign Up
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool isUserAuthenticated;
    private bool collapseNavMenu = true;

    protected override async Task OnInitializedAsync()
    {
        isUserAuthenticated = IdentityService.IsAuthenticated;
    }
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void SignOut()
    {
        // Implement your sign-out logic here, e.g., redirect to sign-out path, clear authentication state
        IdentityService.Logout();
        NavigationManager.NavigateTo("");
    }
}
