@using Radzen
@using MiniSpace.Web.Areas.Students
@inherits LayoutComponentBase
@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<RadzenLayout style="width: 100%; min-width: 100vw; min-height: 100vh; text-align: center;" id="radzen-layout">
    <header>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Style="width: 100%;">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <div class="logo-container" @onclick="NavigateToHome">
                    <RadzenLabel Text="MiniSpace" />
                </div>
            </RadzenStack>
            <RadzenMenu Class="rz-menu">
                <div class="rz-menu-stack">
                    <RadzenMenuItem Text="Home" Class="rz-menu-item" Click="@(() => ScrollToSection("home"))" />
                    <RadzenMenuItem Text="About App" Class="rz-menu-item" Click="@(() => ScrollToSection("about"))" />
                    <RadzenMenuItem Text="Connect" Class="rz-menu-item" Click="@(() => ScrollToSection("connect"))" />
                    <RadzenMenuItem Text="Sign In" Class="rz-menu-item" Path="signin" Icon="exit_to_app"/>
                    <RadzenMenuItem Text="Sign Up" Class="rz-menu-item" Path="signup" Icon="assignment_ind"/>
                </div>
            </RadzenMenu>
        </RadzenStack>
    </header>
    <RadzenBody class="radzen-body">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <CustomRadzenFooter />
</RadzenLayout>
<RadzenDialog />

@code {
    void NavigateToHome() {
        NavigationManager.NavigateTo("/");
    }
    
    async Task ScrollToSection(string sectionId) {
        if (NavigationManager.Uri != NavigationManager.BaseUri) {
            NavigationManager.NavigateTo("/", true);
        }
        while (NavigationManager.Uri != NavigationManager.BaseUri) {
            await Task.Delay(100);
        }
        await JSRuntime.InvokeVoidAsync("scrollToSection", sectionId);
    }
}
