@page "/signin/first"
@using Radzen
@inject NavigationManager NavigationManager

<RadzenStack Gap="1rem">
    <h2 class="rz-p-8 account-font">Your first signing in succeeded! Congratulations!</h2>
    <p>Welcome in our MiniSpace community.</p>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="12">
            <RadzenButton Size="ButtonSize.Large" Text="Go to your account"
                          Click="@(() => NavigationManager.NavigateTo("/account"))"/>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
