@page "/signin"
@using MiniSpace.Web.Models.Identity
@using MiniSpace.Web.Areas.Identity
@using MiniSpace.Web.Areas.Students
@using MiniSpace.Web.Areas.Http
@using MudBlazor
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService
@inject IErrorMapperService ErrorMapperService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<MudThemeProvider Theme="@MiniSpaceTheme.MiniSpaceCustomTheme" />

<style>
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background: #f4f4f9;
        color: #333;
    }

    .split-container {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .left-side, .right-side {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-side {
        background: black;
        position: relative;
    }

    .right-side {
        margin-top: 5rem !important;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-container {
        width: 100%;
        max-width: 400px;
        background: rgba(255, 255, 255, 0.85);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    a, button {
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    a:hover, button:hover {
        color: #007BFF;
    }
</style>

<div class="split-container">
    <div class="left-side">
        <video id="videoPlayer" autoplay muted loop>
            <source src="videos/video-component/video_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="right-side">
        <div class="form-container">
            <div class="sign-in-up-pre-info">
                <h2>Welcome to MiniSpace</h2>
                <p>Please sign in to access your account and manage your details.</p>
                <h3>Sign In</h3>
            </div>
            @if (showError)
            {
                <MudAlert Severity="Severity.Error" OnClose="OnAlertClose">
                    @errorMessage
                </MudAlert>
            }
            <EditForm Model="@signInModel" OnValidSubmit="HandleSignIn">
                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="signInModel.Email" Label="Email" Variant="Variant.Outlined" Required="true" RequiredError="Email is required" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="signInModel.Password" Label="Password" Variant="Variant.Outlined" 
                                      InputType="@passwordInputType" Adornment="Adornment.End" AdornmentIcon="@passwordInputIcon" 
                                      OnAdornmentClick="TogglePasswordVisibility" Required="true" RequiredError="Password is required" />
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-space-between align-center">
                        <MudCheckBox @bind-Checked="rememberMe" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox>
                        <MudLink Href="/forgot-password">Forgot Password?</MudLink>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Sign In</MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
            <div style="text-align: center; margin-top: 3rem !important;">
                <MudLink Href="/signup">Create Account</MudLink>
            </div>
        </div>
    </div>
</div>

@code {
    private SignInModel signInModel = new SignInModel();
    private bool showError = false;
    private string errorMessage = string.Empty;
    private bool rememberMe = false;
    private InputType passwordInputType = InputType.Password;
    private string passwordInputIcon = Icons.Material.Filled.VisibilityOff;

    private void OnAlertClose()
    {
        showError = false;
        errorMessage = string.Empty;
    }

    private void TogglePasswordVisibility()
    {
        if (passwordInputType == InputType.Password)
        {
            passwordInputType = InputType.Text;
            passwordInputIcon = Icons.Material.Filled.Visibility;
        }
        else
        {
            passwordInputType = InputType.Password;
            passwordInputIcon = Icons.Material.Filled.VisibilityOff;
        }
    }

    private async Task HandleSignIn()
    {
        try
        {
            var response = await IdentityService.SignInAsync(signInModel.Email, signInModel.Password);
            if (response != null && response.Content != null && !string.IsNullOrEmpty(response.Content.AccessToken))
            {
                await StudentsService.UpdateStudentDto(IdentityService.UserDto.Id);
                var nextPage = StudentsService.StudentDto.State == "incomplete" ? "/signin/first" : "/";
                NavigationManager.NavigateTo(nextPage, true);
            }
            else
            {
                showError = true;
                errorMessage = $"Error during sign in: {response?.ErrorMessage?.Reason}";
                StateHasChanged(); 
            }
        }
        catch (Exception ex)
        {
            showError = true;
            errorMessage = $"Error during sign in: {ex.Message}";
            StateHasChanged(); 
        }
    }
}
