@using Astravent.Web.Wasm.DTO.Organizations
@using MudBlazor

@if (isSaving)
{
    <div class="loading-overlay">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" Color="Color.Primary" />
        <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">Saving...</MudText>
    </div>
}

@if (Settings != null)
{
    <MudForm @ref="form">
        <MudSwitch @bind-Checked="Settings.IsVisible" Color="Color.Primary" Label="Is Visible" />
        <MudSwitch @bind-Checked="Settings.IsPublic" Color="Color.Primary" Label="Is Public" />
        <MudSwitch @bind-Checked="Settings.IsPrivate" Color="Color.Primary" Label="Is Private" />
        <MudSwitch @bind-Checked="Settings.CanAddComments" Color="Color.Primary" Label="Allow Comments" />
        <MudSwitch @bind-Checked="Settings.CanAddReactions" Color="Color.Primary" Label="Allow Reactions" />
        <MudSwitch @bind-Checked="Settings.CanPostPosts" Color="Color.Primary" Label="Can Post Posts" />
        <MudSwitch @bind-Checked="Settings.CanPostEvents" Color="Color.Primary" Label="Can Post Events" />
        <MudSwitch @bind-Checked="Settings.CanMakeReposts" Color="Color.Primary" Label="Can Make Reposts" />
        <MudSwitch @bind-Checked="Settings.CanAddCommentsToPosts" Color="Color.Primary" Label="Allow Comments on Posts" />
        <MudSwitch @bind-Checked="Settings.CanAddReactionsToPosts" Color="Color.Primary" Label="Allow Reactions on Posts" />
        <MudSwitch @bind-Checked="Settings.CanAddCommentsToEvents" Color="Color.Primary" Label="Allow Comments on Events" />
        <MudSwitch @bind-Checked="Settings.CanAddReactionsToEvents" Color="Color.Primary" Label="Allow Reactions on Events" />
        <MudSwitch @bind-Checked="Settings.DisplayFeedInMainOrganization" Color="Color.Primary" Label="Display Feed in Main Organization" />

        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveSettings" Disabled="@isSaving">
            Save Settings
        </MudButton>
    </MudForm>
}
else
{
    <MudText Color="Color.Error">Settings are not available.</MudText>
}

@code {
    [Parameter]
    public OrganizationSettingsDto Settings { get; set; }

    [Parameter]
    public EventCallback<OrganizationSettingsDto> OnSave { get; set; }

    private MudForm form;
    private bool isSaving = false;

    private async Task SaveSettings()
    {
        await form.Validate();

        if (form.IsValid)
        {
            isSaving = true;
            try
            {
                await OnSave.InvokeAsync(Settings);
            }
            catch (Exception ex)
            {
                // Handle exceptions and notify the user
                Console.Error.WriteLine(ex.Message);
            }
            finally
            {
                isSaving = false;
            }
        }
    }
}
