@page "/events"
@using MiniSpace.Web.Areas.Students
@using MiniSpace.Web.DTO
@using Radzen
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService
@inject NavigationManager NavigationManager

<h1>Events</h1>

@if (studentDto.Id != Guid.Empty)
{
    <RadzenStack Gap="1rem">
        
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="12">
                <div class="rz-p-12 rz-text-align-center">
                    <RadzenButton Size="ButtonSize.Large" Text="Create new event"
                                  Click="@(() => NavigationManager.NavigateTo("/events/create"))"/>
                    <RadzenButton Size="ButtonSize.Large" Text="Search events"
                                  Click="@(() => NavigationManager.NavigateTo("/events/search"))"/>                   
                </div>
            </RadzenColumn>
        </RadzenRow>
        
    </RadzenStack>
}
else
{
    <p>Loading...</p>
}

@code {
    private StudentDto studentDto = new();
    
    protected override async Task OnInitializedAsync()
    {
        if (IdentityService.IsAuthenticated)
        {
            var userDto = await IdentityService.GetAccountAsync();
            studentDto = await StudentsService.GetStudentAsync(userDto.Id);
        }
    }
}
