@page "/greeting"
@using Microsoft.AspNetCore.Components.Authorization
@inject IIdentityService IdentityService

<h1>Greeting</h1>


@if (email != null)
{
    <p>Hello, @email!</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private string email;

    protected override async Task OnInitializedAsync()
    {
        if (IdentityService.IsAuthenticated)
        {
            var userDto = await IdentityService.GetAccountAsync();
            email = userDto.Email;   
            StateHasChanged();
        }
    }
}
