@page "/"

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1>Welcome to our Social Media Platform!</h1>
            <p>We're excited to have you join our MiniSpace community.</p>
            <p>Connect with friends, share moments, and discover new experiences.</p>
            <p>Start exploring now!</p>
        </div>
    </div>
</div>