@page "/signin"
@using MiniSpace.Web.Models.Identity
@using MiniSpace.Web.Areas.Identity
@using MiniSpace.Web.Areas.Students
@using Radzen
@using MiniSpace.Web.Areas.Http
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService
@inject IErrorMapperService ErrorMapperService
@inject NavigationManager NavigationManager

<h2>Welcome to MiniSpace</h2>
<p>Please sign in to access your account and manage your details.</p>
<div>&nbsp;</div>
<h3>Sign In</h3>

<div style="display: flex; flex-direction: column; height: 50vh; justify-content: center; align-items: center;">
    <RadzenAlert AlertStyle="AlertStyle.Danger" @bind-Visible="showError" ShowIcon="false" Variant="Variant.Flat"
                Shade="Shade.Lighter">
        @errorMessage
    </RadzenAlert>

    <RadzenTemplateForm Data="@signInModel" Submit="@(async (SignInModel args) => { await HandleSignIn(); })">
        <RadzenFieldset>
            <RadzenStack Gap="1rem">
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                        <RadzenLabel Text="Email:" Component="email" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenTextBox Style="width: 100%;" Name="email" @bind-Value="signInModel.Email" />
                        <RadzenRequiredValidator Component="email" Text="Email is required" Popup=@popup
                                                Style="position: absolute"/>
                        <RadzenEmailValidator Component="email" Text="Email is invalid" Popup=@popup
                                            Style="position: absolute"/>
                    </RadzenColumn>
                </RadzenRow>
                
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                        <RadzenLabel Text="Password:" Component="password" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="9">
                        <RadzenPassword Style="width: 100%;" Name="password" @bind-Value="signInModel.Password"/>
                        <RadzenRequiredValidator Component="password" Text="Password is required" Popup=@popup
                                                Style="position: absolute"/>
                    </RadzenColumn>
                </RadzenRow>
                
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="12">
                        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="Sign In"/>
                    </RadzenColumn>
                </RadzenRow>
                <div>
                    <a href="/forgot-password">Forgot Password?</a> | <a href="/signup">Create Account</a>
                </div>
            </RadzenStack>
        </RadzenFieldset>
    </RadzenTemplateForm>
</div>
@code {
    private SignInModel signInModel = new SignInModel();
    private bool showError = false;
    private string errorMessage = string.Empty;
    private bool popup;

    private async Task HandleSignIn()
    {
        var response = await IdentityService.SignInAsync(signInModel.Email, signInModel.Password);
        var jwtDto = response.Content;
        if (jwtDto != null && !string.IsNullOrEmpty(jwtDto.AccessToken))
        {
            var userDto = await IdentityService.GetAccountAsync();
            var studentDto = await StudentsService.GetStudentAsync(userDto.Id);

            NavigationManager.NavigateTo(studentDto.State == "incomplete" ? "/signup/complete" : "/account");
        }
        else
        {
            showError = true;
            errorMessage = ErrorMapperService.MapError(response.ErrorMessage);
            StateHasChanged(); // Force the component to re-render
        }
    }
}
