@page "/identity"
@using Astravent.Web.Wasm.Areas.Identity
@using Astravent.Web.Wasm.Shared
@model Astravent.Web.Wasm.Areas.Identity.Identity_razor
@inject IdentityComponent IdentityComponent

@{
    Layout = null;
//    Layout = MainLayout;
}

<h1>Identity</h1>

@functions
{

    @* protected async Task OnInitializedAsync()
    {
        await IdentityComponent.OnInit();
    } *@

}
