@page "/home"
@using MiniSpace.Web.DTO
@using MiniSpace.Web.DTO.Wrappers
@using MiniSpace.Web.Areas.Posts
@using MiniSpace.Web.Data.Posts
@using MiniSpace.Web.Components
@inject NavigationManager NavigationManager
@inject IIdentityService IdentityService
@inject IPostsService PostsService
@using MudBlazor

<AuthWrapper>
<MudThemeProvider Theme="@MiniSpaceTheme.MiniSpaceCustomTheme" />
<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="4">
            <UserInformation UserId="studentId" />
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.h4" Align="Align.Center">Discover What's New</MudText>
            @if (pageInitialized)
            {
                @if (posts.Any())
                {
                    <MudList>
                        @foreach (var post in posts)
                        {
                            <MudListItem>
                                <PostCard Post="post" />
                            </MudListItem>
                        }
                    </MudList>
                }
                else
                {
                    <MudText Typo="Typo.h6" Align="Align.Center">No activity found</MudText>
                    <MudButton Variant="MudBlazor.Variant.Outlined" Color="MudBlazor.Color.Primary" OnClick="@(() => NavigationManager.NavigateTo("/events/search"))">Please join an event first</MudButton>
                }
            }
        </MudItem>
        <MudItem xs="12" sm="4">
            <UserRelatedContent UserId="studentId" />
        </MudItem>
    </MudGrid>
</MudContainer>
</AuthWrapper>

@code {
    private IEnumerable<PostDto> posts;
    private Guid studentId;
    private bool pageInitialized = false;
    private SearchPosts searchModel;

    protected override async Task OnInitializedAsync()
    {
        if (IdentityService != null && IdentityService.IsAuthenticated)
        {
            studentId = IdentityService.GetCurrentUserId();
            searchModel = InitializeSearchModel(studentId);
            var result = await PostsService.SearchPostsAsync(searchModel);
            posts = result.Content.Content;
            pageInitialized = true;
        }
        else
        {
            NavigationManager.NavigateTo("");
        }
    }

    private static SearchPosts InitializeSearchModel(Guid studentId)
    {
        return new()
        {
            StudentId = studentId,
            Pageable = new PageableDto()
            {
                Page = 1,
                Size = 8,
                Sort = new SortDto()
                {
                    SortBy = new List<string>() { "publishDate" },
                    Direction = "desc"
                }
            }
        };
    }
}


@* @page "/home"
@using MiniSpace.Web.DTO
@using MiniSpace.Web.Areas.Posts
@using MiniSpace.Web.Data.Posts
@using MiniSpace.Web.Components
@using MiniSpace.Web.DTO.Wrappers
@using Radzen
@using System.Globalization
@inject NavigationManager NavigationManager
@inject IIdentityService IdentityService
@inject IPostsService PostsService

<h1 class="rz-p-8 search-font">Discover What's New</h1>

@if (pageInitialized)
{
    @if (posts.Any())
    {
        <RadzenStack>
            <RadzenDataList PageSize="6" AllowPaging="true" Data="@posts" TItem="PostDto">
                <Template Context="post">
                    <RadzenHomePostCard Post="post"></RadzenHomePostCard>
                </Template>
            </RadzenDataList>
        </RadzenStack>
    }
    else
    {
        <h3 class="rz-p-8 ">No activity found</h3>
        <RadzenButton class="join-button" Text="Please join an event first" Click="@(() => NavigationManager.NavigateTo("/events/search"))" />
    }
}

<style>
    .search-font {
        font-family: Arial, sans-serif; /* Change this to your preferred font */
        font-size: 40px; /* Change this to your preferred font size */
        font-weight: bold; /* Change this to your preferred font weight */
    }
    
    .join-button {
        border: 1px solid #30445f; 
        background-color: transparent !important;
        border-radius: 5px;
        color: #30445f !important;
    }  
</style>


@code {
    private IEnumerable<PostDto> posts;
    private Guid studentId;
    private bool pageInitialized = false;
    private SearchPosts searchModel;
    
    protected override async Task OnInitializedAsync()
    {
        if (IdentityService != null && IdentityService.IsAuthenticated)
        {
            studentId = IdentityService.GetCurrentUserId();
            searchModel = InitializeSearchModel(studentId);
            var result = await PostsService.SearchPostsAsync(searchModel);
            posts = result.Content.Content;
            pageInitialized = true;
        }
        else
        {
            NavigationManager.NavigateTo("");

        }
    }
    
    private static SearchPosts InitializeSearchModel(Guid studentId)
    {
        return new()
        {
            StudentId = studentId,
            Pageable = new PageableDto()
            {
                Page = 1,
                Size = 8,
                Sort = new SortDto()
                {
                    SortBy = new List<string>() {"publishDate"},
                    Direction = "des"
                }
            }
        };
    }
} *@
