@page "/admin/students"
@using MiniSpace.Web.Areas.Students
@using MiniSpace.Web.DTO
@using MiniSpace.Web.Pages.Dialogs
@using Radzen
@using DialogOptions = Radzen.DialogOptions
@using DialogService = Radzen.DialogService
@inject DialogService DialogService
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService

<h1>Manage students</h1>

@if (!pageInitialized)
{
    <h3 class="rz-p-12">Loading...</h3>
}
@if (pageInitialized && studentDto.Id != Guid.Empty)
{
    <h4 class="rz-p-8">To manage rights of a student, open details dialog by clicking "Show" button.</h4>
    
    <RadzenStack Gap="1rem" Style="height: 100%">
        @if (totalStudents == 0)
        {
            <h3>There are not any students registered.</h3>
        }
        
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                        FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="@pageSize" PageSizeOptions="@pageSizeOptions"
                        AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true"
                        Data="@students" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn Property="Email" Title="Email" Frozen="true" Width="150px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="FirstName" Title="First Name" Frozen="true" Width="150px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="LastName" Title="Last Name" Frozen="true" Width="150px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Context="student" Title="Details" Width="100px" TextAlign="TextAlign.Center"
                                      Filterable="false" Sortable="false" Frozen="true">
                    <Template Context="student">
                        <RadzenButton Size="ButtonSize.Medium" Text="Show"
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(() => OpenManageStudentDialog(student))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="State" Title="State" Width="110px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="IsBanned" Title="Is Banned" Width="110px" />
                <RadzenDataGridColumn Property="IsOrganizer" Title="Is Organizer" Width="130px" />
                <RadzenDataGridColumn Property="DateOfBirth" Title="Birth Date" FormatString="{0:d}" Width="120px" />
                <RadzenDataGridColumn Property="CreatedAt" Title="Created At" Width="180px" />
                <RadzenDataGridColumn Property="Description" Title="Description" Width="150px" />
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
}

@code {
    private const string dateFormat = "dd/MM/yyyy HH:mm";
    
    private int pageSize = 5;
    IEnumerable<int> pageSizeOptions = new int[] { 5, 10, 20, 40};
    
    private StudentDto studentDto = new();
    private bool pageInitialized = false;

    private int totalStudents = 0;
    private IEnumerable<StudentDto> students;
    
    protected override async Task OnInitializedAsync()
    {
        if (IdentityService.IsAuthenticated)
        {
            studentDto = StudentsService.StudentDto;
            
            students = await StudentsService.GetStudentsAsync();
            totalStudents = students.Count();
        }
        
        pageInitialized = true;
    }
    
    private async Task OpenManageStudentDialog(StudentDto studentDto)
    {
        await DialogService.OpenAsync<ManageStudentDialog>($"Manage student:",
            new Dictionary<string, object>() { { "StudentDto", studentDto } },
            new DialogOptions()
            {
                Width = "700px", Height = "600px", Resizable = true, Draggable = true,
                AutoFocusFirstElement = false
            });
    }
}
