@page "/admin/students"
@using MiniSpace.Web.Areas.Students
@using MiniSpace.Web.DTO
@using MiniSpace.Web.Pages.Admin.Dialogs
@using Radzen
@using DialogOptions = Radzen.DialogOptions
@using DialogService = Radzen.DialogService
@inject DialogService DialogService
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService

<h1>Manage students</h1>

@if (!pageInitialized)
{
    <div style="display: flex; justify-content: center; align-items: center;">
        <RadzenProgressBarCircular ShowValue="true" ProgressBarStyle="ProgressBarStyle.Light" 
                                   Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Loading...</Template>
        </RadzenProgressBarCircular>
    </div>
}
@if (pageInitialized && adminId != Guid.Empty)
{
    <h4 class="rz-p-8">To see details and manage rights of a student, open details dialog by clicking "Show" button.</h4>
    
    <RadzenStack Gap="1rem" Style="height: 100%">
        @if (totalStudents == 0)
        {
            <h3>There are not any students registered.</h3>
        }
        
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                        FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="@pageSize" PageSizeOptions="@pageSizeOptions"
                        AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true"
                        Data="@students" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn Property="Email" Title="Email" Frozen="true" Width="160px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="FirstName" Title="First Name" Frozen="true" Width="140px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="LastName" Title="Last Name" Frozen="true" Width="140px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Context="student" Title="Details" Width="100px" TextAlign="TextAlign.Center"
                                      Filterable="false" Sortable="false" Frozen="true">
                    <Template Context="student">
                        <RadzenButton Size="ButtonSize.Medium" Text="Show" class="rz-border-radius-1"
                                      ButtonStyle="ButtonStyle.Secondary" Icon="search"
                                      Click="@(() => OpenManageStudentDialog(student))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="State" Title="State" Width="100px" TextAlign="TextAlign.Center" Frozen="true" />
                <RadzenDataGridColumn Property="IsBanned" Title="Is Banned" Width="100px" Frozen="true" />
                <RadzenDataGridColumn Property="IsOrganizer" Title="Is Organizer" Width="115px" Frozen="true" />
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
}

@code {
    private const string dateFormat = "dd/MM/yyyy HH:mm";
    private const string shortDateFormat = "dd/MM/yyyy";
    
    private int pageSize = 5;
    IEnumerable<int> pageSizeOptions = new int[] { 5, 10, 20, 40};
    
    private Guid adminId;
    private bool pageInitialized = false;

    private int totalStudents = 0;
    private IEnumerable<StudentDto> students;
    
    protected override async Task OnInitializedAsync()
    {
        if (IdentityService.IsAuthenticated && IdentityService.GetCurrentUserRole() == "admin")
        {
            adminId = IdentityService.GetCurrentUserId();
            
            var paginatedResponse = await StudentsService.GetStudentsAsync();
            students = paginatedResponse.Results;
            totalStudents = students.Count();
        }
        
        pageInitialized = true;
    }
    
    private async Task OpenManageStudentDialog(StudentDto studentDto)
    {
        await DialogService.OpenAsync<ManageStudentDialog>($"Manage student:",
            new Dictionary<string, object>() { { "StudentDto", studentDto } },
            new DialogOptions()
            {
                Width = "700px", Height = "600px", Resizable = true, Draggable = true,
                AutoFocusFirstElement = false
            });
    }
}
