@page "/notification/{NotificationId:guid}"
@using MiniSpace.Web.Areas.Notifications
@inject INotificationsService NotificationsService
@using MiniSpace.Web.DTO.Notifications
@inject IIdentityService IdentityService
@using MudBlazor

<div class="breadcrumbs-container">
    <MudBreadcrumbs Class="custom-breadcrumbs" Items="_items"></MudBreadcrumbs>
</div>
@code {
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Notifications", href: "/notifications/all", icon: Icons.Material.Filled.VideoLibrary),
        new BreadcrumbItem("New notification", href: "/notifications/all", disabled: true, icon: Icons.Material.Filled.VideoLibrary),
    };
}

<h3>Notification Details</h3>

@if (notification != null)
{
    <div>
        <p><strong>Message:</strong> @notification.Message</p>
        <p><strong>Date:</strong> @notification.CreatedAt.ToString("dd MMM yyyy")</p>
        @* <p><strong>Status:</strong> @((bool)notification.IsActive ? "Active" : "Inactive")</p> *@
        <input type="hidden" value="@notification.NotificationId" />
    </div>
}
else
{
    <p><em>Loading notification details...</em></p>
}

@code {
    [Parameter] public Guid NotificationId { get; set; }
    private NotificationDto notification;

    protected override async Task OnInitializedAsync()
    {
        var userId = IdentityService.GetCurrentUserId();
        notification = await NotificationsService.GetNotificationByIdAsync(userId, NotificationId);
    }

    
}
