@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/mudblazor/css/mudblazor.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
* {
    margin: unset !important; 
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}




.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #2F4E6F; 
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
}


.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-items {
    display: flex;
}

.sidebar-style {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.welcome-section h1 {
    margin-top: 0;
}

.welcome-section {
    text-align: center;
    margin: auto;
}

.welcome-title {
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px; 
}

.landing-page {
    padding: 2rem; 
}

@media (min-width: 768px) {
    .landing-page {
        padding: 2rem 5rem;
    }
}
@media (min-width: 992px) {
    .landing-page {
        padding: 2rem 10rem; 
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#radzen-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.radzen-body {
    flex: 1;
}


.logo-container {
    display: inline-block;
    padding: 5px 10px; 
    background-color: #2F4E6F; 
    border-radius: 5px; 
    margin-right: 15px; 
}

.logo-container .rz-label {
    color: white;
    font-size: 1.5rem; 
    font-weight: bold; 
    letter-spacing: 0.05rem; 
    user-select: none; 
}

@media (max-width: 767.98px) {
    .logo-container {
        margin-bottom: 15px;
    }
}

.rz-menu {
    background-color: #2F4E6F !important;
    color: #fff !important;
}


.rz-menu-stack {
    display: flex;
    flex-direction: row;
    padding-left: 0;

}
.rz-navigation-item-link {
    color: #fff !important;
}
.rz-navigation-item-icon {
    color: #fff !important;
}

.rz-menu-item {
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none; 
    background: none;
    color: #fff !important;
}

@media (max-width: 767.98px) {
    .rz-menu-stack {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .rz-menu-item {
        width: 100%;
        padding: 8px 0;
    }

    .rz-display-flex {
        display: block !important;
    }
}

.RadzenStack {
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 767.98px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
    }
}


.connect-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/connect-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.button-group {
    display: flex;
    gap: 20px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}