@page "/update-banner"
@using MiniSpace.Web.DTO.Types
@using MiniSpace.Web.DTO
@using MiniSpace.Web.Areas.MediaFiles
@using Microsoft.AspNetCore.Components.Forms
@inject IMediaFilesService MediaFilesService
@inject IIdentityService IdentityService
@inject IJSRuntime JSRuntime
@using System.IO
@inject NavigationManager NavigationManager
@using MudBlazor

<MudDialogProvider/>
<div>
    <MudText Typo="Typo.h6" GutterBottom="true">Update Banner Image</MudText>
    <InputFile OnChange="HandleImageSelected" accept="image/*" id="file-input" />
    
    @if (isProcessing)
    {
        <div class="overlay">
            <MudSnackbar>
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
            </MudSnackbar>
        </div>
    }

    <div id="image-container" class="img-container"></div>

    @if (!string.IsNullOrEmpty(croppedImageBase64))
    {
        <div class="cropped-image-preview">
            <img src="@croppedImageBase64" alt="Cropped Image" style="max-width: 100%;" />
        </div>
    }
</div>

<RadzenDialog />

<style>
    .img-container {
        max-height: 900px;
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }
    .cropped-image-preview img {
        max-width: 100%;
        height: auto;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
</style>

@code {
    private string croppedImageBase64;
    private bool isProcessing = false;

    private DotNetObjectReference<UpdateBannerImage> dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("GLOBAL.SetDotnetReference", dotNetRef);
        }
    }

    private async Task HandleImageSelected(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        if (imageFile != null)
        {
            isProcessing = true;
            StateHasChanged();
            long maxAllowedSize = 5 * 1024 * 1024; // 5 MB in bytes

            try
            {
                using var stream = imageFile.OpenReadStream(maxAllowedSize);
                using var ms = new MemoryStream();
                await stream.CopyToAsync(ms);
                var buffer = ms.ToArray();
                var base64String = Convert.ToBase64String(buffer);
                await JSRuntime.InvokeVoidAsync("displayImageAndInitializeCropper", base64String);
            }
            catch (System.IO.IOException ex)
            {
                Console.Error.WriteLine($"File size exceeds the maximum limit: {ex.Message}");
            }
            finally
            {
                isProcessing = false;
                StateHasChanged();
            }
        }
    }

    [JSInvokable]
    public async Task ReceiveCroppedImage(string base64Result)
    {
        croppedImageBase64 = base64Result;
        StateHasChanged();
    }

    private string GetFileExtensionFromBase64(string base64String)
    {
        var dataUriPattern = new System.Text.RegularExpressions.Regex(@"^data:(?<type>image\/.+?);base64,(?<data>.+)$");
        var match = dataUriPattern.Match(base64String);
        if (match.Success)
        {
            var type = match.Groups["type"].Value;
            return type switch
            {
                "image/jpeg" => "jpg",
                "image/png" => "png",
                "image/gif" => "gif",
                "image/tiff" => "tiff",
                "image/webp" => "webp",
                _ => throw new InvalidOperationException("Unsupported image type"),
            };
        }
        throw new InvalidOperationException("Invalid base64 image data");
    }

    [JSInvokable]
    public async Task SaveCroppedImage()
    {
        try
        {
            isProcessing = true;
            StateHasChanged();

            var userId = IdentityService.GetCurrentUserId();
            var fileExtension = GetFileExtensionFromBase64(croppedImageBase64);
            var randomGuid = Guid.NewGuid().ToString();
            var fileName = $"banner_image_{userId}_{randomGuid}.{fileExtension}";
            var contentType = $"image/{fileExtension}";

            var base64Content = croppedImageBase64.Split(',')[1];
            var response = await MediaFilesService.UploadMediaFileAsync(
                Guid.NewGuid(),
                MediaFileContextType.StudentBannerImage.ToString(),
                userId,
                fileName,
                contentType,
                base64Content
            );

            if (response != null)
            {
                NavigationManager.NavigateTo("/student-profile");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error saving the cropped image: {ex.Message}");
        }
        finally
        {
            isProcessing = false;
            StateHasChanged();
        }
    }
}
